/**
-- INDEX --
  # [0]   Fonts
  # [1]   Page Wrapper and Hero Components
  ## [1.1]  Page Wrapper
  ### [1.1.1]   Admin Bar Fix
  ## [1.2]  Hero Wrapper and Containers
  ### [1.2.1]   Fullscreen Hero
  ## [1.3]  Hero Background
  ## [1.4]  Hero Content

  # [2]   Section Tags
  ## [2.1]
  #

  # [X]   Hover-Over Carousel
  ## [X.1]  Display Area
  ## [X.2]  Hover Tabs

  # [X]   Buttons
  ## [X.1]  Ghost
  ## [X.2]  Scared
  ## [X.2]  Creeper, Expanding

  # [X]   Formatting Classes
  ## [X.1]  No Gutters
  ## [X.2]  Separators
*/

/* # [0] Fonts */
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Light.ttf' );
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-LightItalic.ttf' );
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Medium.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-MediumItalic.ttf' );
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Medium.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url( '../fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf' );
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url( '../fonts/BarlowSemiCondensed/BarlowSemiCondensed-RegularItalic.ttf' );
  font-style: italic;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url( '../fonts/BarlowSemiCondensed/BarlowSemiCondensed-SemiBold.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url( '../fonts/BarlowSemiCondensed/BarlowSemiCondensed-SemiBoldItalic.ttf' );
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Righteous';
  src: url( '../fonts/Righteous/Righteous-Regular.ttf' );
}

body {
  font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'BarlowSemiCondensed', sans-serif !important;
}

[class*="display-"] {
  font-family: 'BarlowSemiCondensed', sans-serif !important;
}

.display-bold   { font-weight: bold;  }
.display-flex-1 { font-size: 3rem;    }
.display-flex-2 { font-size: 2.5rem;  }
.display-flex-3 { font-size: 2rem;    }
.display-flex-4 { font-size: 1.5rem;  }
.display-flex-5 { font-size: 1rem;    }

@media screen and ( min-width: 576px ) {
  .display-flex-1 { font-size: 4rem;      }
  .display-flex-2 { font-size: 3.333rem;  }
  .display-flex-3 { font-size: 2.667rem;  }
  .display-flex-4 { font-size: 2rem;      }
  .display-flex-5 { font-size: 1.333rem;  }
}

@media screen and ( min-width: 768px ) {
  .display-flex-1 { font-size: 5rem;      }
  .display-flex-2 { font-size: 4.167rem;  }
  .display-flex-3 { font-size: 3.333rem;  }
  .display-flex-4 { font-size: 2.5rem;    }
  .display-flex-5 { font-size: 1.667rem;  }
}


.marquee {
  font-family: 'Righteous', cursive !important;
}

h1.marquee {
  font-family: 'Righteous', cursive !important;
  font-size: 5rem;

  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

/* # [1] Page Wrapper and Hero Components */
/* ## [1.1] Page Wrapper */

#sticky-nav {
  display: none;
}

#wrapper {
  display: block;

  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  color: white;

  overflow: hidden;
}

.mobile-hide {
  display: none;
}

@media screen and ( min-width: 768px ) {
  .mobile-hide {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* ## [1.1.1] Admin Bar Fix */
.admin-bar .navbar-wrapper {
  top: 46px; /* set to height of admin bar */
}

@media ( min-width: 783px ) {
  .admin-bar .navbar-wrapper {
    top: 32px; /* set to height of admin bar */
  }
}

/* ## [1.2] Hero Wrapper and Containers */
.hero {
  position: relative;
  width: 100%;
  height: auto;
    min-height: 350px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero h1 {
  font-size: 2.5rem;
}

@media screen and ( min-width: 768px ) {
  .hero {
    height: 75vh;
  }

  .hero-sm {
    height: 40vh;
  }

  .hero h1 {
    font-size: 5rem;
  }
}

/* ## [1.2] Hero Wrapper and Containers */
.hero-container {
  display: table;

  height: inherit;
    min-height: 350px;
  margin: 0 auto;
  padding: 0 20px;
  text-overflow: ellipsis;
}

/* ### [1.2.1] Fullscreen Hero */
.fullscreen-hero {
  position: relative;

  width: 100%;
  height: 100vh;
    min-height: 350px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background: linear-gradient( to bottom, rgba(34, 58, 120, 0.5), rgba(255, 255, 255, 0.5) );
  overflow: hidden;
}

.marquee-wrapper {
  max-width: 400px;
  max-height: 200px;
}

/* ## [1.3] Hero Background */
.hero-bg {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #324dac; /* default bg color for all hero units */

  overflow: hidden;
}

/* ## [1.4] Hero Content */
.hero-content {
  position: relative;
  display: table-cell;

  height: auto;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 3em 2rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);

  z-index: 10;
}

.hero-content p, [class*="subsection"] p {
  font-size: .9rem;
}

@media screen and ( min-width: 768px ) {
.hero-content p, [class*="subsection"] p  {
    font-size: 1rem;
  }
}

@media screen and ( min-width: 768px ) {
  .hero-content {
    padding: 0 3rem;
    font-size:
  }
}

.hero-content .marquee {
  color: white;
}


#indexHeroBtn {
  font-size: 2rem;
}

#indexHeroBtn i {
  padding: 0 .5vw;
  border-bottom: 2px solid transparent;

  -webkit-transition: 0.333s ease, border-bottom 0.5s ease-in-out;
  -moz-transition:0.333s ease, border-bottom 0.5s ease-in-out;
  transition: 0.333s ease, border-bottom 0.5s ease-in-out;
}

#indexHeroBtn i:hover {
  padding: 0 12.5vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  z-index: 999;
}

.fullscreen-hero-closure {
  height: 75vw;
    min-height: 350px;
}

@media screen and ( min-width: 768px ) {
  .fullscreen-hero-closure {
    background-image: url( '../media/sf.jpg' );
  }
}

/* # [2] Section Tags */
section {
  background-color: #FCFCFC;
}

/* # [X] Hover-Over Carousel */
#hoverCarousel {
  position: relative;
  background-color: #2F323A;

  overflow: hidden;
}

/* ## [X.1] Display Section */
.widescreen-wrapper {
  position: relative;
}

.widescreen {
  content: '';
  height: 350px;
  background-color: #000;
  text-align: center;
}

.widescreen h1 {
  display: block;
  color: white;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

/* ## [X.2] Hover-Tabs */
.tab {
  text-align: center;
  padding: 2em 0 0;

  z-index: 9999;
}

.tab > h1 {
  display: block;
  font-size: .7rem;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

@media( min-width: 576px ) {
  .tab > h1 {
    font-size: 1rem;
  }
}

@media screen and ( min-width: 768px ) {
  .tab {
    height: 116px;
    padding: 1em 0;
  }

  .tab > h1 {
    font-size: 1.5rem;
  }
}

.tab:hover {
  background-color: #28603c;
}

#overview {
  color: #2F323A;
  text-align: center;
}

.info {
  margin: 0 auto;
  padding: .5em
}

.info-box-title {
  position: relative;
  text-align: center;
  margin: 0 0 1em;
}

.info-conclusion .info-box-title {
  margin: 0 0 2em;
}

.info-title {
  border-radius: 15px;
}

.info-title-primary {
  background-color: rgba(159, 66, 66, 0.3);
}

.info-title-secondary {
  background-color: rgba(159, 142, 66, 0.3);
}

.info-title-tertiary {
  background-color: rgba(66, 95, 159, 0.3);
}

.info-box-content {
  margin: 0 0 2em;
}

.featurette {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;
}

.card-img {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dbdbdb;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  margin: 0 0 2em;
  border-radius: 25px;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.card {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;

  border-radius: .25px;
  margin: 0 0 2em;

}

@media screen and ( min-width: 768px ) {
  [class*="card-md-split-"] {
    height: 100%;

    padding: 2.5em 2.5em 0;
  }

  .card-md-split-left {
    border-radius: 15px 0 0 15px !important;
  }

  .card-md-split-right {
    border-radius: 0 15px 15px 0 !important;
  }
}

.featurette-detail {
  padding: 1.5em .5em;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.featurette-dark {
  background-color: #2F323A;
  color: #EEE;
  border-radius: 15px;
}

.card-detail {
  padding: 1.5em .5em;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.card-dark {
  background-color: #2F323A !important;
  color: #EEE;
}

@media screen and ( min-width: 768px ) {
  .featurette-bg {
    margin: 0 auto;
  }

  .featurette-right .featurette-box-title, .featurette-right .featurette-box-content {
    text-align: left;
   }
}

.detail-section-header {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;

  padding: 0 1em;
}

.section-title {
  padding: 0 0 .5em;
  margin: 0 auto;
}

.subsection { text-align: center; }
.subsection-left {  text-align: left;  }
.subsection-right {  text-align: right;  }

[class^="subsection"].section-header {
  padding: 2em 0 0;
}

[class^="subsection"].section-body {
  padding: 1em 0 1em;
}

[class^="subsection"].section-footer {
  padding: 0em 0 2em;
}

[class^="subsection"].subsection-sm.section-header {
  padding: 1em 0 0;
}

[class^="subsection"].subsection-sm.section-body {
  padding: .5em 0 .5em;
}

[class^="subsection"].subsection-sm.section-footer {
  padding: 0em 0 1em;
}

@media screen and ( min-width: 768px ) {
  .subsection-md { text-align: center; }
  .subsection-md-left {  text-align: left;  }
  .subsection-md-right {  text-align: right;  }

  [class^="subsection"].section-header {
    padding: 3em 0 0;
  }

  [class^="subsection"].section-body {
    padding: 1.5em 0 1.5em;
  }

  [class^="subsection"].section-footer {
    padding: 0 0 3em;
  }

  [class^="subsection"].subsection-sm.section-header {
    padding: 1.5em 0 0;
  }

  [class^="subsection"].subsection-sm.section-body {
    padding: .75em 0 .75em;
  }

  [class^="subsection"].subsection-sm.section-footer {
    padding: 0em 0 1.5em;
  }
}

.detail {
  margin: 1em 0;
  padding: 1.5em .5em;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.detail-section {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;

  padding: 0 1em 1em;
}

.detail-box-title, .detail-box-content, .detail-box-footer {
  display: none;
}

@media screen and ( min-width: 768px ) {
  .detail-section {
    padding: 1.5em 0 3em;
  }

  .detail-box-title {
    display: inline;
    position: relative;
    padding: 0 0 1em;
  }

  .detail-box-content {
    display: inline;
    margin: 0 0 2em;
  }

  .detail-box-footer {
    display: inline;
  }

  .detail-right .detail-box-title, .detail-right .detail-box-content {
    text-align: left;
  }

  .detail-left .detail-box-title, .detail-left .detail-box-content {
    text-align: right;
  }
}

.graphic {
  background-color: #dbdbdb;
  padding: 1.5em;
  margin: 1em 0 0;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.graphic-box-title {
  margin: 2.5em 1.25em;
  border-radius: 75px;
  position: relative;
  text-align: center;
  padding: 0 0 1em;
}


@media screen and ( min-width: 768px ) {
  .graphic {
    margin: 1em;
    padding: 1.5em .5em;
  }

  .graphic-box-title {
    margin: 5em 2.5em;
    padding: 0 0 1em;
  }
}

#affiliates-section {
  background-color: white;
  padding: 3em 2em;
}

.affiliate-logo {
  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.affiliate-logo img {
  display: block;
  padding: 1em;
  margin: 0 auto 2em;
  max-width: 33vw;
  max-height: 33vw;
}

@media screen and ( min-width: 768px ) {
  .affiliate-logo img {
    padding: 1em;
    width: 20vw;
    max-width: 300px;
    height: auto;
    max-height: 300px;
  }
}

#conclusion {
  color: #FCFCFC;
  text-align: center;
}

.hero-dark {
  min-height: 350px;
  background-color: #2F323A;
}


/* FOOTER */
footer.the-footer {
  background-color: #2F323A;
  height: 400px;
  text-align: center;
  color: #FCFCFC;
  overflow-x: hidden;
}

footer.site-footer {
  background-color: #2F323A;
  text-align: center;
  color: #FCFCFC;
}

footer.the-footer .footer-credits {
  text-align: left;
  padding: 2em 1em;
  color: #FCFCFC;
}

@media screen and ( min-width: 768px ) {
  footer.the-footer .footer-credits {
    text-align: right;
  }
}

footer.the-footer .footer-widget {
  padding: 1em 1em 2em;
  background-color: #000000;
  height: 250px;
  max-height: 250px;
}

.footer-widget * {
  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

footer.the-footer small {
  font-size: .8rem;
}

footer.the-footer p.lead {
  font-size: 1rem;
}

@media screen and ( min-width: 768px ) {
  footer.the-footer small {
    font-size: .75rem;
  }
}

/* # [X] Buttons */
/* ## [X.1] Ghost */

.btn.btn-ghost {
  position: relative;
  font-size: .833rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: .25em 1.25em;

  -webkit-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  -moz-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  transition: 0.333s ease .1s, border-radius .3s ease .1s;
}

.btn.btn-ghost:hover {
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
    border-radius: 25px 25px 25px 25px;
  color: #2F323A;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-shadow: none;

  -webkit-transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  -moz-transition: 0.25s
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;
}

@media screen and ( min-width: 768px ) {
  .btn.btn-ghost {
    font-size: 1.25rem;
    color: white;
    padding: .5em 2em;
  }

  .btn.btn-ghost:hover {
    color: #2F323A;
    padding: .5em 4em;
    text-shadow: none;
  }
}

/* ## [X.2] Scared */

.btn.btn-scared {
  position: relative;
  font-size: .833rem;
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
    border-radius: 5px;
  color: #2F323A;
  padding: .25em 1.25em;

  -webkit-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  -moz-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  transition: 0.333s ease .1s, border-radius .3s ease .1s;
}

.btn.btn-scared:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
    border-radius: 25px;

  -webkit-transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  -moz-transition: 0.25s
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;
}

@media screen and ( min-width: 768px ) {
  .btn.btn-scared {
    position: relative;
    font-size: 1.25rem;
    padding: .5em 2em;
  }

  .btn.btn-scared:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid transparent;
      border-radius: 25px;
    padding: .5em 4em;
  }
}

/* ## [X.3] Creeper */

.btn.btn-creeper {
  position: relative;
  font-size: .833rem;
  background-color: #2F323A;
  border: 1px solid #2F323A;
    border-radius: 5px;
  color: #dbdbdb;
  padding: .25em 1.25em;

  -webkit-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  -moz-transition: 0.333s ease .1s, border-radius .333s ease .1s;
  transition: 0.333s ease .1s, border-radius .3s ease .1s;
}

.btn.btn-creeper:hover {
  background-color: white;
  color: #2F323A;
  border: 1px solid white;
    border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  -webkit-transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  -moz-transition: 0.25s
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;

  transition:
    0.25s ease-in-out .01s,
    margin .25s ease .125s,
    padding .25s ease .125s,
    border-radius .333s ease .1825s;
}

@media screen and ( min-width: 768px ) {
  .btn.btn-creeper {
    position: relative;
    font-size: 1.25rem;
    padding: .5em 2em;
  }

  .btn.btn-creeper:hover {
    background-color: white;
    color: #2F323A;
    border: 1px solid white;
      border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: .5em 4em;
  }

  [class^="btn-wrapper-expand-"] {
    width: 120%;
    position: relative;
    border: 1px transparent;
    border-radius: 1.5px;
    overflow-x: hidden;
  }

  .btn-wrapper-expand-left {
    right: 20%;
  }

  .btn-md-expand-left:hover {
    border-radius: 1.5px 75px 7.5px 1.5px !important;
  }

  .btn-md-expand-right:hover {
    margin-left: -2em !important;
    border-radius: 75px 1.5px 1.5px 7.5px !important;
  }
}

.row-card {
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and ( min-width: 768px ) {
  .row-md-card {
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

/* # [X] Formatting Classes */
/* ## [X.1] No Gutters */

.no-gutters {
  padding: 0 !important;
}

.no-gutters-left {
  padding-left: 0 !important;
}

.no-gutters-right  {
  padding-right: 0 !important;
}

@media screen and ( min-width: 768px ) {
  .no-gutters-md {
    padding: 0 !important;
  }

  .no-gutters-md-left {
    padding-left: 0 !important;
  }

  .no-gutters-md-right {
    padding-right: 0 !important;
  }
}

/* ## [X.2] Separators */

.separator {
  padding: 0 0 3em;
}

@media screen and ( min-width: 768px ) {
  .separator {
    padding: 0 0 1em;
  }
}
