/**
-- INDEX --
  # [0]   Fonts
  # [1]   Page Wrapper and Hero Components
  ## [1.1]  Page Wrapper
  ### [1.1.1]   Admin Bar Fix
  ## [1.2]  Hero Wrapper and Containers
  ### [1.2.1]   Fullscreen Hero
  ## [1.3]  Hero Background
  ## [1.4]  Hero Content

  # [2]   Section Tags
  ## [2.1]
  #
  # [X]   Hover-Over Carousel
  ## [X.1]  Display Area
  ## [X.2]  Hover Tabs
*/

/* # [0] Fonts */
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Light.ttf' );
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-LightItalic.ttf' );
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Medium.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-MediumItalic.ttf' );
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url( '../fonts/Raleway/Raleway-Medium.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url( '../fonts/Poppins/Poppins-Regular.ttf' );
}

@font-face {
  font-family: 'Poppins';
  src: url( '../fonts/Poppins/Poppins-RegularItalic.ttf' );
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url( '../fonts/Poppins/Poppins-SemiBold.ttf' );
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url( '../fonts/Poppins/Poppins-SemiBoldItalic.ttf' );
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Righteous';
  src: url( '../fonts/Righteous/Righteous-Regular.ttf' );
}

body {
  font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}

[class^="display-"] {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
}

h1.marquee {
  font-family: 'Righteous', cursive !important;
  font-size: 5rem;

  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

/* # [1] Page Wrapper and Hero Components */
/* ## [1.1] Page Wrapper */
#wrapper {
  display: block;

  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  color: white;
}

.mobile-hide {
  display: none;
}

@media screen and ( min-width: 768px ) {
  .mobile-hide {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

/* ## [1.1.1] Admin Bar Fix */
.admin-bar .navbar-wrapper {
  top: 46px; /* set to height of admin bar */
}

@media ( min-width: 783px ) {
  .admin-bar .navbar-wrapper {
    top: 32px; /* set to height of admin bar */
  }
}

/* ## [1.2] Hero Wrapper and Containers */
.hero {
  position: relative;

  width: 100%;
  height: 75vh;
    min-height: 350px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-sm {
  height: 40vh;
}

.hero h1 {
  font-size: 2.5rem;
}

@media screen and ( min-width: 768px ) {
  .hero h1 {
    font-size: 5rem;
  }
}

/* ## [1.2] Hero Wrapper and Containers */
.hero-container {
  display: table;

  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* ### [1.2.1] Fullscreen Hero */
.fullscreen-hero {
  position: relative;

  width: 100%;
  height: 100vh;
    min-height: 350px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background: linear-gradient( to bottom, rgba(34, 58, 120, 0.5), rgba(255, 255, 255, 0.5) );
}

.marquee-wrapper {
  max-width: 400px;
  max-height: 200px;
}

/* ## [1.3] Hero Background */
.hero-bg {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #324dac; /* default bg color for all hero units */
}

/* ## [1.4] Hero Content */
.hero-content {
  position: relative;
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  color: white;
  padding: 0 3rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);

  z-index: 10;
}

.hero-content .marquee {
  color: white;
}

.hero-container {
  display: table;

  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.fullscreen-hero-closure {
  background-image: url( '../media/sf.jpg' );
}

/* # [2] Section Tags */
section {
  background-color: #FCFCFC;
}

/* # [X] Hover-Over Carousel */
#hoverCarousel {
  position: relative;
  background-color: #2F323A;

  overflow: hidden;
}

/* ## [X.1] Display Section */
.widescreen-wrapper {
  position: relative;
}

.widescreen {
  content: '';
  height: 350px;
  background-color: #000;
  text-align: center;
}

.widescreen h1 {
  display: block;
  color: white;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

/* ## [X.2] Hover-Tabs */
.tab {
  text-align: center;
  padding: 2em 0 0;

  z-index: 9999;
}

.tab > h1 {
  display: block;
  font-size: .7rem;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

@media( min-width: 576px ) {
  .tab > h1 {
    font-size: 1rem;
  }
}

@media screen and ( min-width: 768px ) {
  .tab {
    height: 116px;
    padding: 1em 0;
  }

  .tab > h1 {
    font-size: 1.5rem;
  }
}

.tab:hover {
  background-color: #28603c;
}

#overview {
  color: #2F323A;
  text-align: center;
}

.info {
  margin: 0 auto;
  padding: .5em
}

.info-box-title {
  position: relative;
  text-align: center;
  margin: 0 0 1em;
}

.info-conclusion .info-box-title {
  margin: 0 0 2em;
}

.info-title {
  border-radius: 15px;
}

.info-title-primary {
  background-color: rgba(159, 66, 66, 0.3);
}

.info-title-secondary {
  background-color: rgba(159, 142, 66, 0.3);
}

.info-title-tertiary {
  background-color: rgba(66, 95, 159, 0.3);
}

.info-box-content {
  margin: 0 0 2em;
}

.featurette {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;
}

.featurette-bg {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dbdbdb;

  margin: 0 0 2em;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.featurette-detail {
  padding: 1.5em .5em;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.featurette-alt {
  background-color: #2F323A;
  color: white;

  border-radius: 15px;
}

@media screen and ( min-width: 768px ) {
  .featurette-bg {
    margin: 0 auto;
  }

  .featurette-right .featurette-box-title, .featurette-right .featurette-box-content {
    text-align: left;
   }
}

.detail-section-header {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;

  padding: 0 1em;
}

.section-title {
  padding: 0 0 .5em;
  margin: 0 auto;
}

.subsection-left {  text-align: left;  }
.subsection-right {  text-align: right;  }

[class^="subsection-"].section-header {
  padding: 2em 0 0;
}

[class^="subsection-"].section-body {
  padding: 1em 0 1em;
}

[class^="subsection-"].section-footer {
  padding: 0em 0 2em;
}

[class^="subsection-"].subsection-sm.section-header {
  padding: 1em 0 0;
}

[class^="subsection-"].subsection-sm.section-body {
  padding: .5em 0 .5em;
}

[class^="subsection-"].subsection-sm.section-footer {
  padding: 0em 0 1em;
}

@media screen and ( min-width: 768px ) {
  .subsection.section-header {
    padding: 3em 0 0;
  }

  .subsection.section-body {
    padding: 1.5em 0 1.5em;
  }

  .subsection.section-footer {
    padding: 0 0 3em;
  }

  .subsection.subsection-sm.section-header {
    padding: 1.5em 0 0;
  }

  .subsection.subsection-sm.section-body {
    padding: .75em 0 .75em;
  }

  .subsection.subsection-sm.section-footer {
    padding: 0em 0 1.5em;
  }
}

.detail-section {
  background-color: #EEE;
  color: #2F323A;
  text-align: center;

  padding: 0 1em 1em;
}

@media screen and ( min-width: 768px ) {
  .detail-section {
    padding: 1.5em 0 3em;
  }
}

.detail {
  margin: 1em 0;
  padding: 1.5em .5em;

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

@media screen and ( min-width: 768px ) {
  .detail-right .detail-box-title, .detail-right .detail-box-content {
    text-align: left;
  }

  .detail-left .detail-box-title, .detail-left .detail-box-content {
    text-align: right;
  }
}

.detail-box-title, .detail-box-content, .detail-box-footer {
  display: none;
}

@media screen and ( min-width: 768px ) {
  .detail-box-title {
    display: inline;
    position: relative;
    padding: 0 0 1em;
  }

  .detail-box-content {
    display: inline;
    margin: 0 0 2em;
  }

  .detail-box-footer {
    display: inline;
  }
}

.graphic {
  background-color: #dbdbdb;
  padding: 1.5em;
  margin: 1em 0 0;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

@media screen and ( min-width: 768px ) {
  .graphic {
    margin: 1em;
    padding: 1.5em .5em;
  }
}

.graphic-box-title {
  margin: 2.5em 1.25em;
  border-radius: 75px;
  position: relative;
  text-align: center;
  padding: 0 0 1em;
}

@media screen and ( min-width: 768px ) {
  .graphic-box-title {
    margin: 5em 2.5em;
    padding: 0 0 1em;
  }
}

#affiliates-section {
  background-color: white;
  padding: 3em 2em;
}

.affiliate-logo {
  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

.affiliate-logo img {
  display: block;
  padding: 1em;
  margin: 0 auto 2em;
  max-width: 33vw;
  max-height: 33vw;
}

@media screen and ( min-width: 768px ) {
  .affiliate-logo img {
    padding: 1em;
    width: 20vw;
    max-width: 300px;
    height: auto;
    max-height: 300px;
  }
}

#conclusion {
  color: #FCFCFC;
  text-align: center;
}

.hero-conclusion {
  background-color: #2F323A;
}


.separator {
  padding: 0 0 3em;
}

@media screen and ( min-width: 768px ) {
  .separator {
    padding: 0 0 1em;
  }
}


/* FOOTER */
footer.the-footer {
  background-color: #2F323A;
  height: 400px;
  text-align: center;
  color: #FCFCFC;
  overflow-x: hidden;
}

footer.site-footer {
  background-color: #2F323A;
  text-align: center;
  color: #FCFCFC;
}

footer.the-footer .footer-credits {
  text-align: left;
  padding: 2em 1em;
  color: #FCFCFC;
}

@media screen and ( min-width: 768px ) {
  footer.the-footer .footer-credits {
    text-align: right;
  }
}

footer.the-footer .footer-widget {
  padding: 1em 1em 2em;
  background-color: #000000;
  height: 250px;
  max-height: 250px;
}

.footer-widget * {
  /* position-relative vertical align */
  position: relative;
  top: 50%;
  transform: translateY( -50% );
}

footer.the-footer small {
  font-size: .8rem;
}

footer.the-footer p.lead {
  font-size: 1rem;
}

@media screen and ( min-width: 768px ) {
  footer.the-footer small {
    font-size: .75rem;
  }
}
